#############
## Windows Detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Armor Textures
#############

textures/armor/
textures/dlc01/
textures/dlc02/
textures/dlc03/
textures/dlc04/
A7Birthday/